<h3>
  California Tribal Gambling: Tribal Perspective
</h3>
<p>
In California, Indian tribes have survived an onslaught of foreign immigrants into North America since the late 15th century. It is remarkable that independent tribes still exist despite the unthinkable loss of life that took place through disease, war, and other factors.
</p>
<p>
Even today, there are economic and political issues that threaten native tribes and their development today. Ugly tropes about Indians still exist in today’s society; some are new developments but many are simply a continuation from centuries earlier. Many tribes have received funding and reparations from the US Federal government for past indiscretions committed by settlers and the government itself. Many people believe that since the Federal government has offered aid and given out settlements to tribes that Indians in general have become rich off of taxpayer dollars. This ‘rich Indian trope’ comes into play most markedly when tribal gaming comes into the public view. The reality is that most tribes are not economically well off, despite how they are perceived, and it is much easier to start a casino when Federal funding and taxes on the casino winnings are relaxed.
</p>
<p>
Many in California, and other states around the nation, find this to be unfair and see it as special treatment. The fact is, tribes are not attempting to buy into some get rich scheme, but rather provide a source of monetary income for their tribal members. Unfortunately, this is only a brief look at one of many tropes that exist around Indian gaming. Casinos are one way that tribes are attempting to better themselves and exercise their sovereignty.
</p>
<p>
Even with all of these obstacles, several tribes in California have successfully opened casinos and become economically viable. These casinos have brought money into the tribe, provided jobs for tribal members, and opened the door for these tribes and their members to control their own destiny.
</p>

