<% content_for :title do %>
  <title>The Native Portal | Home</title>
<% end %>

<h1>Main</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu metus, commodo vel pretium eu, venenatis in arcu. Phasellus vel augue urna, id mattis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit fermentum ligula vel congue. Nullam aliquam venenatis justo, sit amet convallis dui congue vel. Mauris fringilla erat eget sem mollis at accumsan erat volutpat. In hac habitasse platea dictumst. In et iaculis urna.
</p><p>
  Vivamus iaculis, orci ornare pretium feugiat, dui purus ullamcorper lorem, sit amet dignissim ante augue non lorem. Nulla pharetra neque at sem ornare consectetur. Fusce sed lorem ipsum, in pharetra lorem. Vestibulum et sapien ac dui aliquet mattis. Nullam ac odio eu eros mattis gravida ac a est. Vestibulum sagittis erat enim. Praesent hendrerit sollicitudin sem, sed lacinia orci mattis vel. Nulla facilisi. Curabitur quis risus leo. Etiam laoreet porta volutpat. Nunc tristique dolor id elit pulvinar sed rhoncus orci egestas.
</p><p>
  Nam commodo massa id magna molestie fermentum. Nullam non malesuada arcu. Nulla pretium malesuada fringilla. Sed pulvinar viverra ligula convallis euismod. Nulla adipiscing, nunc id sodales accumsan, odio nibh vulputate nibh, ac rutrum sem dui nec erat. Curabitur eu massa erat, at placerat arcu. Donec ultricies sodales nulla commodo lacinia. Vestibulum at augue sed nunc aliquet lobortis et ut lectus. Suspendisse pulvinar dolor sed tellus cursus ultrices.
</p><p>
  Curabitur porttitor nulla sem, sed dapibus sapien. In hac habitasse platea dictumst. Vivamus pretium velit quis risus cursus venenatis. Ut lectus lacus, tincidunt vel condimentum vel, euismod vehicula mi. Vivamus faucibus nisl vitae diam convallis suscipit vel eu tortor. Phasellus at nisl a leo laoreet elementum porta nec ipsum. Etiam imperdiet sodales ultrices. Praesent erat est, commodo eget rhoncus mattis, blandit sit amet nisi. Cras tempus pretium risus, ac dignissim arcu pretium eu. Cras at arcu eu diam ullamcorper tincidunt. Morbi posuere lacinia justo, ut euismod dolor convallis eu. Suspendisse potenti. Proin turpis nunc, semper ac molestie id, congue non erat. Phasellus porttitor risus id est hendrerit in aliquet sem viverra.
</p><p>
  Fusce congue velit et est suscipit placerat tincidunt id magna. Curabitur fringilla posuere ligula quis viverra. In hac habitasse platea dictumst. Pellentesque ligula lectus, dignissim vitae tempus id, sodales sit amet diam. Phasellus sed velit purus, feugiat varius nulla. Etiam ut libero mi, ut ullamcorper dui. Nulla eu ante id est ultrices ullamcorper vel eu lorem.
</p>
