<% content_for :title do %>
  <title>The Native Portal | Home</title>
<% end %>

<h3 class="text-center">Indian Gaming and Its Effects<br />in Southern California</h3>
<p>
The history of Indian gaming is a complicated one. For years, Indian gaming has been a hot-button issue in California with many proponents both for and against it. While there have been, and continue to be, many in depth arguments both for and against, there seems to be a roughly two sided debated raging.
</p><p>
On one hand, a perceived image of tribes with casinos is that they have become exceedingly wealthy and no longer need to be “taken care of” by the U.S. government. Others that can be put in this group believe that gambling itself is destructive to the community. On the other side, are those who believe that Indian gaming can be used as a way to elevate tribes out of poverty in addition to helping tribes determine their own fate. There are many examples of tribes becoming quite successful and wealthy because of the casinos that they opened; the tribes most notably in southern California are the Sycuan, Barona, and Viejas bands. In these cases, casinos have helped pull tribes out of poverty, and bring them into the modern world.
</p><p>
The reality, in many cases however, is that casinos are not a cure for the individual problems every tribe faces, not the least of which is public opposition to the creation of a casino. In many cases tribes barely break even or have to close down reservation casinos altogether because of their lack of revenue and foot-traffic do to the rural areas the reservations are located on.
</p><p>
Tribes face many challenges as they work towards full self-determination, and many see casinos and gambling as a way to help achieve that. Why are tribal run gaming casinos the focus of so much controversy; why is there so much opposition? It is time to take a look at the real economic, cultural, and religious effects of Indian casinos, both successful and otherwise, on the reservation communities associated with them.
</p>
