<h2 class="text-center"><%= @section.title %></h2>

<% @entries.each do |entry| %>
  <%= render 'entries/article', entry: entry, abbreviate: true %>
<% end %>

<br />

<%= link_to "New #{@section.title}", new_entry_path %>
